.aboutMe {
  margin-top: 80px;
  background-color: #0cc9ab;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.aboutMeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeImg {
  width: 80%;
  border: 10px;
  border-radius: 200px;
}
.aboutMeImgText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutName {
  padding: 20px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: rgba(255, 255, 255, 0.637);

  span {
    color: #0cc9a9;
    font-size: 25px;
    font-weight: bold;
  }
}
.myName {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
}
.ojk {
  font-size: 25px;
}
.aboutMeImgBox {
  // background-color: rgba(145, 140, 140, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .aboutMeImgBox {
  }
  .aboutMeImg {
    height: 60vh;
  }
}

@media screen and (min-width: 1500px) {
  .aboutMeWrapper {
  }

  .aboutMeImgBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .aboutMeImg {
    width: 100%;
  }

  .aboutName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    p {
      padding: 20px;
    }
  }
  .aboutMeImg {
    width: 80%;
  }
  .aboutMeWrapper {
    flex-direction: row;
    padding: 0;
  }

  .aboutMeImgText {
    width: 40%;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
  }
  .description {
    font-size: 25px;
    line-height: 40px;
  }
  .ojk {
    font-size: 35px;
    span {
      font-size: 35px;
    }
  }
}
