@import "intro";
@import "portfolio";
@import "work";
@import "testimonials";
@import "contact";

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.app {
  background-color: blue;
  height: 100vh;
}
.sections {
  background-color: red;
}
