@import "contact";
@import "aboutMe";
@import "works";
@import "resume";
@import "nav";
@import "profile";

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p {
  font-family: "Inconsolata", monospace;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  color: white;
}
