.works {
  background-color: white;
  h1 {
    text-align: center;
    color: black;
  }
  h2 {
    color: black;
  }
}

.work-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.headerWork {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #0cc9a9;
    font-size: 30px;
    margin-top: 50px;
  }
}
.cardOne {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  margin-top: 20px;
}

.imageContainerOne {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 30vh;
}

.workContainer {
  margin-top: 40px;

  h2 {
    font-size: 25px;
  }
}

.workImages {
  width: 100%;
  height: 100%;
}
.WorkDescription {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 450px;

  p {
    padding: 20px;
    font-size: 20px;
  }
}
.flexButtonText {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.button-container {
  display: flex;
}

.workButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.buttonFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .WorkDescription {
    height: 340px;
  }
}

@media screen and (min-width: 750px) {
  .WorkDescription {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 500px;

    p {
      padding: 20px;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .WorkDescription {
    height: 450px;
  }
}

@media screen and (min-width: 1500px) {
  .workContainer {
    font-size: 30px;
    h2 {
      font-size: 30px;
    }
  }

  .WorkDescription {
    height: 500px;
    p {
      padding: 20px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media screen and (min-width: 2000px) {
  .headerWork {
    h1 {
      font-size: 50px;
    }
  }
  .WorkDescription {
    height: 1000px;
    p {
      padding: 30px;
      font-size: 30px;
      line-height: 70px;
    }
  }
  .workContainer {
    font-size: 40px;
    h2 {
      font-size: 40px;
    }
  }
}
@media screen and (min-width: 2500px) {
  .WorkDescription {
    height: 700px;
    p {
      padding: 30px;
      font-size: 30px;
      line-height: 70px;
    }
  }
}
