.works {
  background-color: white;
  h1 {
    text-align: center;
    color: black;
  }
  h2 {
    color: black;
  }
}

.work-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.headerWork {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: black;
  }
}
.cardOne {
  //   border: 1px solid black;
  height: 65vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
}

.imageContainerOne {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 30vh;
}

.workContainerOne {
  margin-top: 40px;
}

.workImages {
  width: 100%;
  height: 100%;
}
.WorkDescription {
  p {
    padding: 20px;
  }
}
.workButtonTwo {
  margin-top: 5%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
